body {
  margin: 0;
  padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.cell {
    padding: 20px;
}

.left-col {
    flex: 1;
    flex-direction: column;
}

.right-col {
    flex: 1;
    flex-direction: column;
}

.windchill {
}

.windchill__label {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.windchill__value {
    text-align: center;
    font-size: 36px
}
